<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <style>
        p{
            color: aliceblue;
        }
        header {
            background-color: darkgrey;
            text-align: center;
            color: rgb(13, 14, 14);
            font-size: 55px;
        }
        article {
            background-image: url("https://img.freepik.com/free-photo/shop-clothing-clothes-shop-hanger-modern-shop-boutique_1150-8886.jpg");
            background-size: cover;
            background-position: center;
            {{!-- color: rgb(249, 243, 243); --}}
        }
        div.bodydiv {
            background-color: rgba(250, 235, 215, 0.852);
            display: flex;
            padding: 1%;
            justify-content: center;
            justify-content: space-around;
        }
        div.homeElements {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(4, 4, 4, 0.385);
            height: 60px;
            width: 200px;
        }
        a {
            text-decoration: none;
        }
        article {
            float: left;
            padding: 20px;
            width: 100%;
            color: rgb(8, 9, 9);
        }
        footer {
            background-color: black;
            padding: 10px;
            text-align: center;
            color: white;
        }
        img {
            height: 40px;
            width: 100px;
        }
        img.navele {
            height: 60px;
            width: 100px;
        }
        div.footdivcont {
            display: flex;
            padding: 1%;
            justify-content: center;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <header><img src="https://www.creativefabrica.com/wp-content/uploads/2022/01/09/Initial-MT-letter-Logo-Design-Template-Graphics-23203077-1-1-580x435.jpg" alt=""> Meghana Textiles</header>
    <nav>
        <h2>
            <div class="bodydiv">
                <div><img class="navele" src="https://media.tenor.com/1z0b7f_gnxMAAAAi/fashion-winter.gif" alt=""></div>
                <div class="homeElements"><a href="/home" class="navlinks">Home</a></div>
                <div class="homeElements"><a href="products" class="navlinks">Products</a></div>
                <div class="homeElements"><a href="#" class="navlinks" onclick="redirectToBottom(event)">ContactUs</a></div>
                <div class="homeElements"><a href="/aboutUs" class="navlinks">AboutUs</a></div>
            </div>
        </h2>
    </nav>
    <article>
        <h1>Our Motive</h1>
        <p>We maintain the textiles which are assured with quality and customer satisfaction and provide affordable prices for the customer compared to others in the market.</p>
         <p>Our products motive is to Satisfy the customer.</p>
    <p>we maintain the textails which are assured with quality and customer satisfaction and provide the affordable price for the customer compared to the others in the market</p>
    <p>Our products motive is to Satisfy the customer.</p>
    <p>we maintain the textails which are assured with quality and customer satisfaction and provide the affordable price for the customer compared to the others in the market</p>
    <p>Our products motive is to Satisfy the customer.</p>
    <p>we maintain the textails which are assured with quality and customer satisfaction and provide the affordable price for the customer compared to the others in the market</p>
    <p>Our products motive is to Satisfy the customer.</p>
    <p>we maintain the textails which are assured with quality and customer satisfaction and provide the affordable price for the customer compared to the others in the market</p>
    <p>Our products motive is to Satisfy the customer.</p>
    <p>we maintain the textails which are assured with quality and customer satisfaction and provide the affordable price for the customer compared to the others in the market</p>
    <p>Our products motive is to Satisfy the customer.</p>
    <p>we maintain the textails which are assured with quality and customer satisfaction and provide the affordable price for the customer compared to the others in the market</p> 
    </article>
    <footer>
        <h1>Contact Us</h1>
        <div class="footdivcont">
            <div class="footdivelemet"><a href="https://www.instagram.com/vijay_v_i_j_a_y/">Instagram</a></div>
            <div class="footdivelemet"><a href="#">WhatsApp</a></div>
            <div class="footdivelemet"><a href="#">Facebook</a></div>
        </div>
    </footer>

    <script>
        function redirectToBottom(event) {
            event.preventDefault(); // Prevents default anchor behavior
            // Get the height of the page
            var pageHeight = document.body.scrollHeight || document.documentElement.scrollHeight;
            // Scroll to the bottom of the page
            window.scrollTo(0, pageHeight);
        }
    </script>
</body>
</html>
